<ion-view title="Login" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <h3 id="login-heading1" style="color:#000000;text-align:center;" class=" ">Iniciar Sesion</h3>
        <form id="login-form4" class="list ">
            <label class="item item-input " id="login-input9" name="email">
                <input type="email" placeholder="Correo Electronico">
            </label>
            <div class="spacer" style="width: 300px; height: 13px;"></div>
            <label class="item item-input " id="login-input10" name="password">
                <input type="password" placeholder="Contraseña">
            </label>
            <a href="mailto:" id="login-button3" class=" button button-positive  button-block ">Iniciar</a>
        </form>
    </ion-content>
</ion-view>