<ion-view title="Register" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <h3 id="register-heading2" style="color:#000000;text-align:center;" class=" ">Crear Cuenta</h3>
        <form id="register-form5" class="list ">
            <label class="item item-input " id="register-input12" name="name">
                <input type="text" placeholder="Nombre">
            </label>
            <div class="spacer" style="width: 300px; height: 15px;"></div>
            <label class="item item-input " id="register-input13" name="email">
                <input type="email" placeholder="Correo Electronico">
            </label>
            <div class="spacer" style="width: 300px; height: 15px;"></div>
            <label class="item item-input " id="register-input14" name="password">
                <input type="password" placeholder="Contraseña">
            </label>
            <div class="spacer" style="width: 300px; height: 15px;"></div>
            <label class="item item-input " id="register-input15" name="password-confirm">
                <input type="password" placeholder="Confirmar Contraseña">
            </label>
            <button id="register-button4" class=" button button-positive  button-block ">Registrate</button>
        </form>
    </ion-content>
</ion-view>