<ion-view title="Search" id="page1" class=" ">
    <ion-content padding="true" style="background: url(img/7lrVmhmfTbS2Bg57rzPX_14.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div>
            <div style="">
                <h1 style="text-align:center;color:white;">Resertrip</h1>
                <h2 style="text-align:center; font-size:18px;color:white;">VIAJA INTELIGENTE CON RESERTRIP</h2>
            </div>
        </div>
        <div class="spacer" style="width: 300px; height: 16px;"></div>
        <form id="search-form2" class="list ">
            <label class="item item-input " id="search-input2" name="origin">
                <input type="text" placeholder="Origen">
            </label>
            <div class="spacer" style="width: 300px; height: 7px;"></div>
            <label class="item item-input " id="search-input3" name="destination">
                <input type="text" placeholder="Destino">
            </label>
            <div class="spacer" style="width: 300px; height: 7px;"></div>
            <label class="item item-input " id="search-input4" name="round">
                <input type="date" placeholder="Ida">
            </label>
            <div class="spacer" style="width: 300px; height: 7px;"></div>
            <label class="item item-input " id="search-input5" name="return">
                <input type="date" placeholder="Vuelta">
            </label>
            <div class="spacer" style="width: 300px; height: 7px;"></div>
            <label class="item item-input " id="search-input6" name="passengers">
                <span class="input-label">Pasajeros</span>
                <input type="number" placeholder="1">
            </label>
            <button id="search-button1" class=" button button-assertive  button-block icon ion-search "></button>
        </form>
    </ion-content>
</ion-view>